<%- include('partials/navbar') %>
<section class="about">
    <h2>Notre mission</h2>
    <p>Notre bibliothèque offre un accès libre à la connaissance et à la culture pour tous. Nous avons pour objectif de rendre les informations accessibles à tous les âges et de favoriser la diversité de la pensée à travers une vaste collection de documents, y compris des livres, des périodiques, des ressources numériques et plus encore.</p>
    
    <p>Nous croyons fermement que l'éducation est un droit fondamental, et nous nous engageons à offrir un environnement propice à l'apprentissage et à la croissance personnelle.</p>
    
    <h3>Nos valeurs</h3>
    <ul>
        <li>Accès à la connaissance pour tous</li>
        <li>Inclusivité et diversité</li>
        <li>Promotion de la culture et de l'éducation</li>
        <li>Engagement envers la communauté locale</li>
    </ul>
    
    <h3>Notre impact</h3>
    <p>Nous travaillons activement à connecter les individus à des ressources précieuses, en créant des événements, des ateliers et des programmes éducatifs pour toutes les tranches d'âge.</p>
</section>
<%- include('partials/footer') %>